.pickList {

}

.pickList ol li {
    margin: 3px;
    padding: 0.4em;
    font-size: 1.4em;
    height: 18px;
}

.pickList ol, .pickList ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.pickList > * {
    float: left;
}
